<!DOCTYPE html>
<html>
  <head>
    <title>fumblr</title>
    <%= favicon_link_tag %>    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115612347-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115612347-2');
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
